h1 {
    width: 100%;
    text-align: center;
    color: #c0caf5;
}

body {
    text-align: center;
    background-color: #24283b;
    color: #FFFFFF;
}

canvas {
    color-scheme: light only;
    text-align: center;
    border-radius: 50px;
}


button {
    background-color: #565f89;
    border: none;
    color: #FFFFFF;
    width: 10%;
    height: 25px;
    border-radius: 25px;
    margin-bottom: 10px;
}

#fps {
    white-space: pre;
    font-family: monospace;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-child {
    flex: 1;
    justify-content: center;
    align-items: center;
}
